/* Reset css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
}

* {
  --header-height: 80px;
  scroll-margin-top: var(--header-height);
}

/* End reset css */
* {
  --grey-1: #f5f5f5;
  --grey-2: #e7e7e7;
  --grey-3: #d3d3d3;
  --grey-4: #bfbfbf;
  --grey-5: #ababab;
  --grey-6: #999999;
  --grey-7: #828282;
  --grey-8: #6d6d6d;
  --grey-9: #575757;
  --grey-10: #454545;
  --salmon-light: #fef2f1;
  --salmon-light-hover: #fdebea;
  --salmon-light-active: #fbd6d4;
  --salmon-normal: #f37b74;
  --salmon-normal-hover: #db6f68;
  --salmon-normal-active: #c2625d;
  --salmon-dark: #b65c57;
  --salmon-dark-hover: #924a46;
  --salmon-dark-active: #6d3734;
  --salmon-darker: #552b29;
  --blue-light: #ebf8fb;
  --blue-light-hover: #e0f5f9;
  --blue-light-active: #c0eaf4;
  --blue-normal: #33bcda;
  --blue-normal-hover: #2ea9c4;
  --blue-normal-active: #2996ae;
  --blue-dark: #268da4;
  --blue-dark-hover: #1f7183;
  --blue-dark-active: #175562;
  --blue-darker: #12424c;
  --grey-1-rgb: 245 245 245;
  --grey-2-rgb: 231 231 231;
  --grey-3-rgb: 211 211 211;
  --grey-4-rgb: 191 191 191;
  --grey-5-rgb: 171 171 171;
  --grey-6-rgb: 153 153 153;
  --grey-7-rgb: 130 130 130;
  --grey-8-rgb: 109 109 109;
  --grey-9-rgb: 87 87 87;
  --grey-10-rgb: 69 69 69;
  --salmon-light-rgb: 254 242 241;
  --salmon-light-hover-rgb: 253 235 234;
  --salmon-light-active-rgb: 251 214 212;
  --salmon-normal-rgb: 243 123 116;
  --salmon-normal-hover-rgb: 219 111 104;
  --salmon-normal-active-rgb: 194 98 93;
  --salmon-dark-rgb: 182 92 87;
  --salmon-dark-hover-rgb: 146 74 70;
  --salmon-dark-active-rgb: 109 55 52;
  --salmon-darker-rgb: 85 43 41;
  --blue-light-rgb: 235 248 251;
  --blue-light-hover-rgb: 224 245 249;
  --blue-light-active-rgb: 192 234 244;
  --blue-normal-rgb: 51 188 218;
  --blue-normal-hover-rgb: 46 169 196;
  --blue-normal-active-rgb: 41 150 174;
  --blue-dark-rgb: 38 141 164;
  --blue-dark-hover-rgb: 31 113 131;
  --blue-dark-active-rgb: 23 85 98;
  --blue-darker-rgb: 18 66 76;
  --primary-color: #2196f3;
  --darken-primary-color: #02315f;
  /* [122328TIN] add border radius variables */
  --border-radius-0: .1rem;
  --border-radius-1: .2rem;
  --border-radius-2: .3rem;
  --border-radius-3: .4rem;
  --border-radius-4: .5rem;
  --border-round: 50%;
  /* [122328TIN] add border radius variables - end */
}

/* Set font family */
body {
  font-family: "Inter", sans-serif;
}

.h1-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 48px;
  font-weight: 500;
}

.h1-text-bold {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 84px;
  font-weight: 600;
}

.h2-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 40px;
  font-weight: 500;
}

.h2-text-bold {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 40px;
  font-weight: 600;
}

.h3-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 33px;
  font-weight: 500;
}

.h3-text-bold {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 33px;
  font-weight: 600;
}

.h4-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
}

.h4-text-bold {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 28px;
  font-weight: 600;
}

.h5-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 23px;
  font-weight: 500;
}

.h5-text-bold {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 23px;
  font-weight: 600;
}

.title-1-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 19px;
  font-weight: 400;
}

.title-2-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
}

.title-1-text-bold {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 19px;
  font-weight: 600;
}

.title-2-text-bold {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
}

.body-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
}

.body-text-bold {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
}

.caption-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 11px;
  font-weight: 500;
}

.caption-text-bold {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 11px;
  font-weight: 600;
}

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  gap: 1rem;
  flex-direction: column;
  background-color: white;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: linear-gradient(90deg, #000 50%, rgba(0, 0, 0, 0) 0) right/200% 100%;
  animation: l21 2s infinite linear;
}

.loader::before {
  content: "Loading...";
  color: rgba(0, 0, 0, 0);
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg, #fff 50%, #000 0);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l21 {
  100% {
    background-position: left;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-outlined--fill {
  font-variation-settings: "FILL" 1;
}

.mobile-header {
  padding: 0.5rem 1rem;
  width: 100dvw;
  display: flex;
  position: fixed;
  height: 2rem;
  background-color: white;
  z-index: 999;
}
.mobile-header__menu-btn {
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: all 0.4s;
  border: none;
}
.mobile-header__menu-btn:hover {
  background-color: #eee;
}
.mobile-header__logo {
  height: 100%;
  margin: 0 auto;
}
.mobile-header__logo img {
  height: 100%;
  width: auto;
  margin-right: 3.5rem;
}

.dashboard-content {
  max-height: 100dvh;
  overflow-y: auto;
  width: 100%;
  padding: 2rem 1rem 1rem;
  box-sizing: border-box;
}

.dashboard {
  display: flex;
  min-height: 100dvh;
}
.dashboard__sidebar .sidebar {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem;
  position: absolute;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  transition: all 0.4s;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 999;
  width: 216px;
}
.dashboard__sidebar .sidebar--compact {
  align-items: center;
  width: 90px;
  padding: 2rem 0;
}
.dashboard__sidebar .sidebar--compact .account__name,
.dashboard__sidebar .sidebar--compact .sidebar-item__text,
.dashboard__sidebar .sidebar--compact #logout-desktop-btn > span:last-child {
  display: none;
}
.dashboard__sidebar .sidebar--mobile-hidden {
  padding: 0;
  width: 0;
  overflow: hidden;
}
.dashboard__sidebar .sidebar__header, .dashboard__sidebar .sidebar__footer {
  flex: 0 1;
}
.dashboard__sidebar .sidebar__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dashboard__sidebar .sidebar__menu {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashboard__sidebar .sidebar__item {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  align-items: center;
  transition: all 0.2s;
  padding: 0.5rem 0;
  text-decoration: none;
  color: black;
}
.dashboard__sidebar .sidebar__item--selected, .dashboard__sidebar .sidebar__item:hover {
  color: #2196F3;
}
.dashboard__sidebar .sidebar__item--selected .material-symbols-outlined, .dashboard__sidebar .sidebar__item:hover .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}
.dashboard__sidebar .sidebar__close-btn {
  display: block;
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: all 0.4s;
  border: none;
  cursor: pointer;
}
.dashboard__sidebar .sidebar__close-btn:hover {
  background-color: #eee;
}
.dashboard__sidebar .sidebar .account {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.dashboard__sidebar .sidebar .account__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  border: 2px solid #eee;
}
.dashboard__sidebar .sidebar .account__avatar img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}
.dashboard__sidebar .sidebar .account__name {
  font-weight: bold;
  flex: 1 0;
}
.dashboard__sidebar .sidebar .account__actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: all 0.4s;
  border: none;
  cursor: pointer;
}
.dashboard__sidebar .sidebar .account__actions button:hover {
  background-color: #eee;
}
.dashboard__sidebar .sidebar #toggle_compact-sidebar-btn {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 1rem;
  background-color: #eee;
  transition: all 0.4s;
  border: none;
  position: absolute;
  right: -0.7rem;
  top: 2rem;
  z-index: 9;
  font-size: 1rem;
  cursor: pointer;
}
.dashboard__sidebar .sidebar #toggle_compact-sidebar-btn .material-symbols-outlined {
  font-size: 1rem;
}
.dashboard__sidebar .sidebar #logout-desktop-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: bold;
  background-color: transparent;
  transition: all 0.4s;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}
.dashboard__sidebar .sidebar #logout-desktop-btn:hover {
  color: #2196F3;
}
.dashboard__content {
  flex-grow: 1;
  max-height: 100dvh;
  overflow-y: auto;
  width: 100%;
  padding: 2rem 1rem 1rem;
  box-sizing: border-box;
}
.dashboard__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  gap: 1rem;
  flex-wrap: wrap;
}

/* >= Tablet */
@media (min-width: 740px) {
  .dashboard__sidebar .sidebar {
    padding: 1.5rem 2rem;
    position: relative;
  }
  .dashboard__sidebar .sidebar #toggle_compact-sidebar-btn {
    display: flex;
  }
  .dashboard__sidebar .sidebar .sidebar__close-btn {
    display: none;
  }
  .dashboard__sidebar .sidebar--mobile-hidden {
    width: 216px;
    padding: 1.5rem 2rem;
    overflow: unset;
  }
  .mobile-header {
    display: none;
  }
}
.primary-btn {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  background-color: #2196F3;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  border-radius: 0.4rem;
  text-decoration: none;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #087ef4;
}
.primary-btn--with-icon {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.payment-form {
  color: #333;
  font-size: 16px;
}
.payment-form__wrap {
  background-color: white;
  width: 85vw;
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  transform: translateY(calc((100vh - 100%) / 2));
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.payment-form__review {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 8px #ccc;
}
.payment-form__field {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-grow: 1;
}
.payment-form__field-label {
  font-weight: 500;
}
.payment-form__field-control {
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: #f8fafb;
  border-radius: 0.4rem;
  outline: none;
  transition: all 0.2s;
}
.payment-form__field-control:hover, .payment-form__field-control:focus {
  border-color: #087ef4;
}
.payment-form__field-control:focus {
  box-shadow: 0 0 0 1px #087ef4;
}
.payment-form__field-group {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.payment-form__divider {
  height: 1px;
  background-color: #eee;
}
.payment-form__heading {
  font-size: 20px;
  font-weight: 600;
  margin: 0.5rem 0;
}
.payment-form__footer {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.payment-form__btn {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 0.4rem;
  text-decoration: none;
  border: none;
  transition: all 0.2s;
  background-color: white;
  border: 1px solid #eee;
  cursor: pointer;
}
.payment-form__btn:hover {
  background-color: #eee;
}
.payment-form__btn--primary {
  background-color: #2196F3;
  color: white;
  border-color: #2196F3;
}
.payment-form__btn--primary:hover {
  background-color: #087ef4;
}
.payment-form .payment-method__wrap {
  display: flex;
  gap: 1rem;
}
.payment-form .payment-method__wrap > * {
  flex-grow: 1;
}
.payment-form .payment-method__wrap input[type=radio] {
  display: none;
}
.payment-form .payment-method__wrap > label:has(> input[type=radio]:checked) > .payment-method__block {
  background-color: white;
  border: 1px solid #087ef4;
  box-shadow: 0 0 0 1px #087ef4;
  color: #2196F3;
}
.payment-form .payment-method__image {
  height: 24px;
  width: 100%;
}
.payment-form .payment-method__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 0.2rem;
}
.payment-form .payment-method__block {
  background-color: #f8fafb;
  border-radius: 0.4rem;
  padding: 1rem;
  box-sizing: border-box;
  transition: all 0.2s;
  border: 1px solid transparent;
  text-align: center;
}

.payment-result {
  color: #333;
  font-size: 16px;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.payment-result__divider {
  width: 100%;
  height: 1px;
  border-top: 2px solid rgb(229, 229, 229);
}
.payment-result__divider--dashed {
  border-top-style: dashed;
}
.payment-result__header {
  padding: 1rem 0;
  position: relative;
}
.payment-result__header::after, .payment-result__header::before {
  content: "";
  display: block;
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--invert-bg-color, white);
  border-radius: 1rem;
}
.payment-result__header::after {
  bottom: -2.1rem;
  left: -2.1rem;
}
.payment-result__header::before {
  bottom: -2.1rem;
  right: -2.1rem;
}
.payment-result__body {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 1rem 0;
}
.payment-result__heading {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.payment-result__checkdone-wrap {
  color: white;
  background-color: rgb(5, 150, 105);
  border-radius: 2rem;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 20px rgb(209, 250, 229);
  margin: 0 auto;
}
.payment-result__detail {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
.payment-result__detail-field {
  opacity: 0.8;
}
.payment-result__detail-value {
  font-weight: 500;
}
.payment-result__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.payment-result__button:hover {
  background-color: #ccc;
}
.payment-result__button:active {
  background-color: #aaa;
}
.payment-result__button-text {
  font-size: 14px;
  font-weight: 600;
}

.page-row {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  color: #333;
  padding: 0 1rem;
  box-sizing: border-box;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .page-row {
    width: 90%;
    padding: 0 1rem;
  }
}
@media (max-width: 479px) {
  .page-row {
    width: 100%;
    padding: 0 1rem;
  }
}

.page-header {
  background: white;
  box-shadow: 0 4px 12px 0 rgba(51, 51, 51, 0.1333333333);
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
.page-header__wrap {
  height: 70px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.page-header__logo {
  height: 100%;
  padding: 0.5rem 0;
  box-sizing: border-box;
}
.page-header__logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.page-header__desktop-menu {
  display: flex;
  gap: 2rem;
}
@media (max-width: 479px) {
  .page-header__desktop-menu {
    display: none;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .page-header__desktop-menu {
    display: none;
  }
}
.page-header__desktop-menu-item {
  color: #333;
  font-size: 18px;
  text-transform: capitalize;
  transition: all 0.2s;
}
.page-header__desktop-menu-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  font-weight: 600;
}
.page-header__desktop-menu-link--active {
  text-decoration: none;
  color: goldenrod;
}
.page-header__mobile-menu {
  display: none;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
  height: 0;
  overflow-y: hidden;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}
@media (max-width: 479px) {
  .page-header__mobile-menu {
    display: flex;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .page-header__mobile-menu {
    display: flex;
  }
}
.page-header__mobile-menu--active {
  height: calc(100vh - 70px);
  padding: 1rem;
}
.page-header__mobile-menu-item {
  color: #333;
  font-size: 18px;
  text-transform: capitalize;
}
.page-header__mobile-menu-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  font-weight: 600;
}
.page-header__mobile-menu-link--active {
  text-decoration: none;
  color: goldenrod;
}
.page-header__menu-button {
  padding: 0.5rem 0;
  display: none;
}
@media (max-width: 479px) {
  .page-header__menu-button {
    display: block;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .page-header__menu-button {
    display: block;
  }
}
.page-header__menu-button button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.page-footer {
  background-color: var(--salmon-normal);
}
.page-footer__content {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 5rem 0;
  color: white;
}
.page-footer__content .footer-menu {
  display: flex;
  justify-content: start;
  gap: 6rem;
  flex-grow: 1;
  flex-shrink: 0;
}
@media (max-width: 479px) {
  .page-footer__content .footer-menu {
    gap: 4rem;
  }
}
.page-footer__content .footer-menu__column {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
.page-footer__content .footer-menu__item {
  font-size: 16px;
  color: inherit;
}
.page-footer__content .footer-menu__link {
  text-decoration: none;
  color: inherit;
}
.page-footer__content .footer-form {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 14px;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .page-footer__content .footer-form {
    max-width: 40%;
  }
}
.page-footer__content .footer-form__label {
  color: white;
  margin-bottom: 1rem;
}
.page-footer__content .footer-form__form {
  display: flex;
  gap: 1rem;
}
.page-footer__content .footer-form__content {
  color: white;
}
.page-footer__content .footer-form__control {
  flex-grow: 1;
}
.page-footer__content .footer-form__control input {
  border-radius: 0.4rem;
  padding: 20px;
  background-color: white;
  border: 1px solid transparent;
  color: var(--grey-10);
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
}
.page-footer__content .footer-form__control input::placeholder {
  color: var(--grey-8);
}
.page-footer__content .footer-form__submit {
  height: 100%;
}
.page-footer__content .footer-form__submit button {
  background-color: var(--salmon-normal);
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 0.4rem;
  padding: 20px 40px;
  box-sizing: border-box;
  border: 1px solid white;
  transition: all 0.2s;
  height: 100%;
  cursor: pointer;
}
.page-footer__content .footer-form__submit button:hover {
  background-color: var(--salmon-normal-hover);
}
.page-footer__copyright {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.page-footer__copyright span {
  color: white;
}
@media (max-width: 479px) {
  .page-footer__copyright {
    justify-content: center;
  }
}
.page-footer__copyright .social-link {
  text-decoration: none;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.page-footer__copyright .social-link img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.page-footer .divider {
  background-color: #eee;
  width: 100%;
  height: 1px;
}

.page-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
}
.page-section__heading {
  font-size: 24px;
  font-weight: 600;
}
.page-section__row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (max-width: 479px) {
  .page-section__row {
    flex-direction: column;
    column-gap: 2rem;
  }
}
.page-section__column {
  flex: 1;
}

.service-card {
  border: 1px solid #eee;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0.4rem;
  font-size: 18px;
  font-weight: 600;
}

.feature-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.feature-card__image {
  height: 80px;
}
.feature-card__image img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.feature-card__content {
  padding: 1rem;
  box-sizing: border-box;
}

.plan-review {
  color: #333;
}
.plan-review__package {
  background-color: #2196f3;
  padding: 1.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  font-size: 16px;
  color: white;
}
.plan-review__package-name {
  font-size: 24px;
  font-weight: 700;
}
.plan-review__package-price {
  font-size: 38px;
  font-weight: 700;
}
.plan-review__row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: row;
}
.plan-review__extra {
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.plan-review__list {
  margin: 0;
  padding: 0.5rem;
  font-size: 16px;
}
.plan-review__list li {
  margin-bottom: 0.4rem;
}

.page-top-header {
  background: rgb(92, 92, 92);
  text-align: center;
  padding: 0.5rem;
  box-sizing: border-box;
}
.page-top-header p {
  text-align: center;
  color: white;
  margin: 0.2rem 0;
}
@media (max-width: 479px) {
  .page-top-header p {
    font-size: 20px;
  }
}

.page-main-header {
  background: rgb(255, 255, 255);
}
.page-main-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  box-sizing: border-box;
  gap: 1rem;
}
.page-main-header__button {
  text-decoration: none;
  display: block;
  border: 2px solid rgb(153, 153, 153);
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  color: var(--salmon-normal);
}
@media (max-width: 479px) {
  .page-main-header__button {
    font-size: 16px;
    padding: 0.5rem 1rem;
  }
}
.page-main-header__logo {
  height: 32px;
}
.page-main-header__logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.page-fixed-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 99;
}

#landing-section-1 {
  position: relative;
}
#landing-section-1 .bg-image {
  position: static;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 479px) {
  #landing-section-1 .bg-image {
    display: none;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-1 .bg-image {
    display: none;
  }
}
#landing-section-1 .bg-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#landing-section-1 .content-wrap {
  max-width: 40%;
  margin-left: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 479px) {
  #landing-section-1 .content-wrap {
    max-width: 100%;
    margin: 0 1rem 1rem;
    position: static;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-1 .content-wrap {
    position: static;
    max-width: 100%;
    margin: 0 1rem 1rem;
  }
}
#landing-section-1 .heading {
  margin-bottom: 2rem;
  padding-top: 4.5rem;
  color: var(--salmon-normal);
}
@media (max-width: 479px) {
  #landing-section-1 .heading {
    font-size: 48px;
    line-height: 48px;
  }
}
#landing-section-1 .content {
  color: var(--grey-8);
  margin-bottom: 1.5rem;
  margin-right: 88px;
}
#landing-section-1 .button {
  padding: 12px 28px;
  border-radius: 6px;
  background: var(--blue-normal);
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
  transition: all 0.2s;
}
#landing-section-1 .button:hover {
  background-color: var(--blue-normal-hover);
}
#landing-section-1 .button:active {
  background-color: var(--blue-normal-active);
}

#landing-section-2 {
  background: var(--blue-light);
  padding: 80px 0;
}
#landing-section-2 .content-wrap {
  display: flex;
  background: var(--salmon-normal);
  border-radius: 12px;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-2 .content-wrap {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }
}
@media (max-width: 479px) {
  #landing-section-2 .content-wrap {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }
}
#landing-section-2 .left-panel {
  flex: 1 0 40%;
  padding: 0 3rem;
  box-sizing: border-box;
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-2 .left-panel {
    padding: 3rem;
    width: 100%;
  }
}
@media (max-width: 479px) {
  #landing-section-2 .left-panel {
    padding: 1.5rem;
    width: 100%;
  }
}
#landing-section-2 .left-panel .heading {
  color: white;
  margin-bottom: 1rem;
}
@media (max-width: 479px) {
  #landing-section-2 .left-panel .heading {
    font-size: 32px;
    line-height: 32px;
  }
}
#landing-section-2 .left-panel .content {
  color: white;
  margin-bottom: 2rem;
}
#landing-section-2 .left-panel .button {
  text-decoration: none;
  color: rgb(245, 245, 245);
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
#landing-section-2 .left-panel .button__icon {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}
#landing-section-2 .left-panel .button__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#landing-section-2 .right-panel {
  flex: 1 0 auto;
  height: 100%;
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-2 .right-panel {
    width: 100%;
  }
}
@media (max-width: 479px) {
  #landing-section-2 .right-panel {
    width: 100%;
  }
}
@media (max-width: 479px) {
  #landing-section-2 .right-panel .video-player iframe {
    width: 100%;
    height: auto;
    min-height: 250px !important;
  }
}
#landing-section-2 .right-panel .video-player__thumb img {
  height: 100%;
  width: auto;
  object-fit: cover;
  display: block;
}
@media (max-width: 479px) {
  #landing-section-2 .right-panel .video-player__thumb img {
    width: 100%;
    height: auto;
  }
}

.video-player {
  position: relative;
}
.video-player__embedded {
  display: none;
}
.video-player__play-btn {
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(245, 245, 245, 0.8);
  transition: all 0.2s;
  color: #454545;
  cursor: pointer;
  position: absolute;
  top: calc((100% - 5rem) / 2);
  left: calc((100% - 5rem) / 2);
}
.video-player__play-btn:hover {
  background: rgba(245, 245, 245, 0.5);
}
.video-player__play-btn:active {
  transform: scale(0.95);
}

#landing-section-3 {
  background-color: white;
  padding: 1.5rem 2rem;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}
#landing-section-3 .headning-with-dash {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 479px) {
  #landing-section-3 .headning-with-dash {
    gap: 0.5rem;
  }
}
#landing-section-3 .headning-with-dash__heading {
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  color: var(--grey-8);
}
@media (max-width: 479px) {
  #landing-section-3 .headning-with-dash__heading {
    font-size: 18px;
  }
}
#landing-section-3 .headning-with-dash__dash,
#landing-section-3 .divider {
  height: 1px;
  width: 100%;
  background-color: black;
  padding: 0;
  margin: 0;
}
#landing-section-3 .carousel {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
#landing-section-3 .carousel__prev-btn, #landing-section-3 .carousel__next-btn {
  background: white;
  color: rgb(69, 69, 69);
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 46px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.2s;
  cursor: pointer;
}
#landing-section-3 .carousel__prev-btn:hover, #landing-section-3 .carousel__next-btn:hover {
  background-color: rgba(0, 0, 0, 0.0666666667);
}
#landing-section-3 .carousel__item-list {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
#landing-section-3 .carousel__item-list::-webkit-scrollbar {
  display: none;
}
#landing-section-3 .carousel__item {
  scroll-snap-align: center;
}
#landing-section-3 .client-image {
  margin: 1.5rem 0;
}

#landing-section-4 {
  padding: 36px 0;
}
#landing-section-4 .page-row {
  max-width: 892px;
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-4 .page-row {
    max-width: 1280px;
  }
}
#landing-section-4 .heading {
  text-align: center;
  color: var(--salmon-normal-hover);
}
@media (max-width: 479px) {
  #landing-section-4 .heading {
    font-size: 36px;
  }
}
#landing-section-4 .content {
  text-align: center;
  color: var(--grey-8);
  margin: 1rem 0;
}
#landing-section-4 .key-feature-wrap {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto 3rem;
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-4 .key-feature-wrap {
    gap: 1rem;
  }
}
@media (max-width: 479px) {
  #landing-section-4 .key-feature-wrap {
    gap: 1rem;
    flex-direction: column;
  }
}
#landing-section-4 .key-feature-wrap .key-feature-card {
  border: 1px solid var(--grey-2);
  border-radius: 15px;
  padding: 1.75rem;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  align-items: start;
  transition: all 0.2s;
  gap: 1.5rem;
}
#landing-section-4 .key-feature-wrap .key-feature-card:hover {
  border-color: var(--salmon-normal);
  box-shadow: -4px 8px 20px 0px rgba(0, 0, 0, 0.25);
}
#landing-section-4 .key-feature-wrap .key-feature-card:hover .key-feature-card__image {
  background: var(--salmon-normal);
}
@media (max-width: 479px) {
  #landing-section-4 .key-feature-wrap .key-feature-card {
    gap: 1rem;
    align-items: center;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-4 .key-feature-wrap .key-feature-card {
    gap: 1rem;
    padding: 1rem;
  }
}
#landing-section-4 .key-feature-wrap .key-feature-card__image {
  background: var(--salmon-normal-hover);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
}
#landing-section-4 .key-feature-wrap .key-feature-card__title {
  color: var(--grey-10);
}
#landing-section-4 .key-feature-wrap .key-feature-card__content {
  color: var(--grey-8);
}
@media (max-width: 479px) {
  #landing-section-4 .key-feature-wrap .key-feature-card__content {
    text-align: center;
  }
}
#landing-section-4 .key-feature-wrap .key-feature-card__link {
  text-decoration: underline;
  color: var(--grey-10);
}

#landing-section-5 {
  background-color: var(--blue-light);
  padding: 6rem 0;
  box-sizing: border-box;
}
#landing-section-5 .heading {
  color: var(--blue-darker);
  text-align: center;
  margin-bottom: 3rem;
}
#landing-section-5 .carousel {
  position: relative;
  max-width: 1062px;
  margin: 0 auto;
}
#landing-section-5 .carousel__item-list {
  width: 100%;
  overflow-y: hidden;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
#landing-section-5 .carousel__item {
  flex: 1 0 auto;
  width: 190px;
  height: 340px;
  position: relative;
  display: none;
}
@media (max-width: 479px) {
  #landing-section-5 .carousel__item {
    width: 0;
    flex-grow: 0;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-5 .carousel__item {
    width: 0;
    flex-grow: 0;
  }
}
#landing-section-5 .carousel__item:nth-child(1), #landing-section-5 .carousel__item:nth-child(3) {
  display: block;
  flex: none;
  transition: width 0.4s ease-in-out;
}
#landing-section-5 .carousel__item:nth-child(1)::after, #landing-section-5 .carousel__item:nth-child(3)::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(243, 123, 116, 0.5);
  border-radius: 27px;
  position: absolute;
  top: 0;
  left: 0;
}
#landing-section-5 .carousel__item:nth-child(2) {
  flex: 2;
  height: 620px;
  width: 618px;
  display: block;
}
#landing-section-5 .carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 27px;
}
#landing-section-5 .carousel__button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 1.4rem;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s;
  position: absolute;
  bottom: 50px;
}
@media (max-width: 479px) {
  #landing-section-5 .carousel__button {
    bottom: 50%;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-5 .carousel__button {
    bottom: 50%;
  }
}
#landing-section-5 .carousel__button:hover {
  transform: scale(1.09);
}
#landing-section-5 .carousel__button--prev {
  left: 70px;
}
#landing-section-5 .carousel__button--next {
  right: 70px;
}

#landing-section-6 {
  background: var(--salmon-normal);
}
#landing-section-6 .page-row {
  max-width: 840px;
  padding: 2rem 1rem;
}
#landing-section-6 .divider {
  height: 4px;
  border-radius: 12px;
  background-color: var(--grey-3);
  margin: 0 auto;
}
#landing-section-6 .heading {
  text-align: center;
  color: white;
  margin: 1rem 0;
}
#landing-section-6 .content {
  color: white;
  text-align: center;
  max-width: 565.35px;
  margin: 1rem auto;
}
#landing-section-6 .step-wrap {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 4rem 0;
}
@media (max-width: 479px) {
  #landing-section-6 .step-wrap {
    flex-direction: column;
  }
}
#landing-section-6 .step-card {
  border-radius: 16px;
  padding: 20px 10px;
  border: 1px solid white;
  flex: 1;
  text-align: center;
  transition: all 0.2s;
  color: white;
}
#landing-section-6 .step-card:hover {
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.25);
  color: var(--grey-2);
}
#landing-section-6 .step-card__title {
  color: inherit;
  text-align: center;
  margin: 1rem 0;
}
#landing-section-6 .step-card__link {
  text-align: center;
  color: inherit;
  text-decoration: underline;
}
#landing-section-6 a.full-guideline {
  display: block;
  width: fit-content;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  color: var(--salmon-normal-hover);
  border-radius: 12px;
  background-color: white;
  padding: 1rem 2.5rem;
}

#landing-section-7 {
  display: flex;
  align-items: center;
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-7 {
    margin: 1.5rem auto;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 1280px;
    width: 80%;
  }
}
@media (max-width: 479px) {
  #landing-section-7 {
    margin: 1.5rem 1rem;
    flex-direction: column;
    gap: 1.5rem;
  }
}
#landing-section-7 .left-panel {
  width: 40%;
}
#landing-section-7 .left-panel img {
  border-radius: 42px;
  max-width: 100%;
  padding: 0 1rem;
  display: block;
  box-sizing: border-box;
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-7 .left-panel {
    width: 100%;
  }
  #landing-section-7 .left-panel img {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 479px) {
  #landing-section-7 .left-panel {
    width: 100%;
  }
  #landing-section-7 .left-panel img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}
#landing-section-7 .right-panel {
  flex: 1 0 60%;
  padding: 6rem 1rem;
  box-sizing: border-box;
  max-width: 700px;
  margin-right: auto;
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-7 .right-panel {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 479px) {
  #landing-section-7 .right-panel {
    width: 100%;
    padding: 0;
  }
}
#landing-section-7 .right-panel .heading {
  color: var(--blue-darker);
  margin: 0;
  margin-bottom: 1.5rem;
}
@media (max-width: 479px) {
  #landing-section-7 .right-panel .heading {
    font-size: 32px;
  }
}
#landing-section-7 .right-panel .content {
  color: var(--grey-6);
  margin-bottom: 1.5rem;
}
#landing-section-7 .advantage-row {
  display: flex;
  gap: 2rem;
}
@media (min-width: 740px) and (max-width: 1023px) {
  #landing-section-7 .advantage-row {
    gap: 1rem;
  }
}
@media (max-width: 479px) {
  #landing-section-7 .advantage-row {
    flex-direction: column;
    gap: 0.75rem;
  }
}
#landing-section-7 .advantage-row .advantage-column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
#landing-section-7 .advantage-row .advantage-column .advantage-item {
  display: flex;
  gap: 1.5rem;
  height: 63px;
  align-items: start;
}
#landing-section-7 .advantage-row .advantage-column .advantage-item__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
#landing-section-7 .advantage-row .advantage-column .advantage-item__title {
  color: var(--blue-darker);
}
#landing-section-7 .advantage-row .advantage-column .advantage-item__content {
  color: var(--grey-6);
}

.extend-line-height-1 {
  line-height: 26.6px;
}

.extend-line-height-2 {
  line-height: 18.2px;
}

.form {
  font-family: "Roboto", sans-serif;
  color: var(--blue-darker);
}
.form__title {
  color: inherit;
  margin-bottom: 0.5rem;
}
.form__sub-title {
  color: inherit;
  margin-bottom: 2.5rem;
}
.form__row {
  display: flex;
  gap: 1rem;
}
@media (max-width: 479px) {
  .form__row {
    flex-direction: column;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .form__row {
    flex-direction: column;
  }
}
.form__column {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex: 1;
}
.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form__field-label {
  color: inherit;
}
.form__field-control {
  border-radius: 5px;
  border: 1px solid var(--grey-4);
  padding: 12px;
  box-sizing: border-box;
  transition: all 0.2s;
  outline: none;
  resize: none;
  font-size: 19px;
  font-weight: 400;
  color: var(--blue-darker);
}
.form__field-control:hover {
  border-color: var(--blue-dark-hover);
}
.form__field-control:focus {
  border-color: var(--blue-dark-active);
  box-shadow: 0 0 0 1px var(--blue-dark-active);
}
.form__field-control::placeholder {
  color: var(--grey-6);
}
.form__field-control--has-inner-control {
  display: flex;
  gap: 0;
  padding: 0;
  overflow: hidden;
}
.form__field-control--has-inner-control > select, .form__field-control--has-inner-control > input, .form__field-control--has-inner-control > textarea {
  padding: 12px;
  border: none;
  margin: 0;
  outline: none;
  color: var(--blue-darker);
  font-size: 19px;
  font-weight: 400;
}
.form__field-control--has-inner-control > select::placeholder, .form__field-control--has-inner-control > input::placeholder, .form__field-control--has-inner-control > textarea::placeholder {
  color: var(--grey-6);
}
.form__field-control--has-inner-control:has(select:focus, input:focus, textarea) {
  border-color: var(--blue-dark-active);
  box-shadow: 0 0 0 1px var(--blue-dark-active);
}
.form__error-message {
  color: var(--salmon-normal);
  transition: all 0.2s;
  min-height: 16px;
}
.form__footer {
  margin-top: 2rem;
  display: grid;
}
.form__submit-btn {
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: var(--salmon-normal);
  display: flex;
  justify-self: end;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.form__submit-btn:hover {
  background-color: var(--salmon-normal-hover);
}
.form__submit-btn:active {
  background-color: var(--salmon-normal-active);
}
.form input[type=date]::before {
  color: var(--blue-darker);
  content: attr(placeholder);
}
.form input[type=date] {
  color: transparent;
}
.form input[type=date]:focus,
.form input[type=date]:valid {
  color: var(--blue-darker);
}
.form input[type=date]:focus::before,
.form input[type=date]:valid::before {
  content: "";
}

.paginator {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 16px;
}
.paginator__button {
  font-weight: inherit;
  font-size: initial;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 5px 0 var(--grey-2);
  transition: all 0.2s;
}
.paginator__button:hover {
  background-color: var(--grey-1);
}
.paginator__button:active, .paginator__button--active {
  background-color: #2196F3;
  color: white;
}
.paginator__button--active:hover {
  background-color: #087ef4;
}
.paginator__button:disabled {
  cursor: not-allowed;
  box-shadow: none;
  color: var(--grey-6);
  background-color: transparent;
}
.paginator__more {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
